

.price-policy {
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 426px) {
        max-width: 469px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 41px;
    }

    &__text {
        margin-top: 0;

        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    &__link {

        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;
        color: var(--black-color);

        &::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 10px;

            border: 2px solid var(--base-color);
            border-left: transparent;
            border-bottom: transparent;
            transform: rotate(45deg);
        }
    }
}
@media (min-width: 768px){
    .price-policy{
        padding-left: 24px;

    }
}

@media (min-width: 1120px){
    .price-policy{
        padding-left: 32px;
        padding-bottom: 51px;
    }
}