.privacy-policy {
    display: block;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
    color: var(--active-text-color);
    margin-bottom: 40px;
    
         
}

.price-policy__link{
    margin-bottom: 41px;
}
    @media (min-width: 768px) {
        .price-policy__link{
            margin-bottom: 50px;
        }

    }