.button--close{
@include reset-button;

    &::before,
    &::after {
    content:"";
    position: absolute;
    width:21.73px;
    height:2.17px;
    background-color: var(--white-color);
}


    &::after{
    transform: rotate(45deg);
}
    &::before{
    transform: rotate(-45deg);
}

