:root {
    --white-color: #ffffff;
    --base-color: #ff3e79;
    --black-color: #1b1c21;
    --active-text-color: #7e7e82;
    --extra-color: #b8ffec;
    --green-color: #41f6d7;
    --shadow-color: #d9fff5;
    --point-placeholder-color: #b5b6bc;
    --background-color: #f8f8f8;
    --border: #eaeaea;
    
    --shadow-modals:16px 0px 52px 0px #0E185033;
    


    --input-height:48px;
    --button-width:40px;
    --button-height:40px;
    --button-min-width--big:119px;
    --button-max-width--big:136px;

    --section-padding-y:24px;


    --transition-duration:0.2s ;

    --border-radius-item:6px;
    --border-radius-btn--big:20px;

}
