@mixin reset-link{
    color:inherit;
    &,
    &:hover{
        text-decoration: none;
    }
}


@mixin hover-btn{
  background-color: rgba(255, 62, 121, 0.7);
        
}

@mixin reset-button{
padding: 0;
background-color: transparent;
border: none;
outline:none;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
  }
  

  